/* wrapper for moves, level and score */
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

/* moves, level and score count */
h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: #F0793E;
}

/* deck of cards */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* images created in js - playingCards */
img {
  width: 100px;
  height: auto;
}

/* reset button */
.reset {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* footer content */
.footer-content {
  display: flex;
  justify-content: center;
}

/* modal GAME PLAY assistant */
.modal-view-assistant {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* modal assistant */
.modal-content-wrapper {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

/* modal assistant close button */
.close-modal,
.close-modal-preview {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* modal assistant close button hover */
.close-modal:hover,
.close-modal:focus,
.close-modal-preview:hover,
.close-modal-preview:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal stats */
.modal-stats {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* modal message top */
.modal-stats>p {
  text-align: center;
}

/* modal button wrap */
.modal-button-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* modal cards PREVIEW */
.modal-preview-assistant {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-preview-wrapper {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
}

.modal-preview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-preview-button-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

span.footer-text {
  color:#719DB2;
}