.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

/* Score count */
h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  padding: 15px;
}

/* Deck of cards */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* Images created in js */
img {
  width: 100px;
  height: auto;
}

/* Reset button */
.reset {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* Footer content */
.footer-content {
  display: flex;
  justify-content: center;
}

/* Modal assistant */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal assistant content */
.modal-assistant {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Modal assistant close button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Modal assistant close button hover */
.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal stats */
.modal-stats {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Modal button wrap */
.modal-button-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}