@font-face {
  font-family: "cascadia code";
  src: url("../fonts/cascadia_code_bold.otf");
  font-weight: bold;
}

/* general background */
body {
  background-color: #ece2df;
  margin: 0;
}

/* general wrappers */
.header-wrapper,
.game-wrapper,
.footer-wrapper {
  background-color: #D7CDC9;
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
}

.footer-wrapper {
  max-height: 120px;
}


/* GAME interface
-------------------------------------------------------------------------- */

/* game alerts */
.game-alerts {
  display: flex;
  justify-content: center;
  background-color: #ece2df;
  height: 46px;
  margin-top: 1px;
}

/* stats for moves, level and score */
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  background-color: #ece2df;
  margin-top: 10px;
  margin-bottom: 3px;
  height: 46px;
}

/* moves, level and score heading */
h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 13px;
  color: #57426A;
  font-family: "cascadia code", sans-serif;
  font-size: 18px;
}

button {
  height: 38px;
  min-width: 160px;
  border-radius: 30px;
  border: none;
  font-family: "cascadia code", sans-serif;
  font-size: 18px;
  background: transparent;
  color: #673ab7;
  /* padding-bottom: 12px; */
}

/* deck of cards */
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* playing cards */
img {
  width: calc(94% /4);
  height: auto;
  padding-bottom: 8px;
}

/* footer content */
.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: #ece2df;
}

/* reset button */
.reset {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer-links {
  padding-bottom: 18px;
}

span.footer-text {
  color:#57426A;
  font-family: "cascadia code", sans-serif;
  font-size: 15px;
}


/* ANIMATIONS credits Web Dev Simplified by Kyle Cook
-------------------------------------------------------------------------- */

/* button transition */
#modal-btn-option,
#modal-preview-btn-option,
#reset {
  transition-duration: 200ms;
  transition-property: color, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.49, 1.51);
}

/* apply button transition on hover */
#modal-btn-option:hover,
#modal-preview-btn-option:hover,
#reset:hover {
  color: #8865c5;
  font-size: 20px;
}

/* card preview animation for Chrome, Safari and Opera */
@-webkit-keyframes animation-1 {
  from {opacity: 0; transform: rotateY(180deg);}
  to {opacity:1; transform: rotateY(0deg);}

}

/* card preview animation for all other browsers */
@keyframes animation-1 {
  from {opacity: 0; transform: rotateY(180deg);}
  to {opacity:1; transform: rotateY(0deg);}
}

/* apply animation-1 */
.modal-preview > img {
  /* card preview with keyframe animation */
  -webkit-animation-name: animation-1; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 800ms; /* Chrome, Safari, Opera */
  animation-name: animation-1;
  animation-duration: 800ms;
}


/* MODAL - GAME ASSISTANT 
-------------------------------------------------------------------------- */

.modal-view-assistant {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 56px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* modal assistant */
.modal-content-wrapper {
  background-color: #ece2df;
  margin: 8px;
  padding: 20px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

/* modal assistant close button */
.close-modal,
.close-modal-preview {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* modal assistant close button hover */
.close-modal:hover,
.close-modal:focus,
.close-modal-preview:hover,
.close-modal-preview:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal stats */
.modal-stats {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "cascadia code", sans-serif;
  color: #57426A;
}

/* modal message top */
.modal-stats>p {
  text-align: center;
}

/* modal button wrap */
.modal-button-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding-bottom: 18px
}


/* MODAL - CARDS PREVIEW
-------------------------------------------------------------------------- */

.modal-preview-assistant {
  display: none;
  position: fixed;
  z-index: 21;
  padding-top: 56px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* preview wrapper */
.modal-preview-wrapper {
  background-color: #ece2df;
  max-width: 900px;
  padding-bottom: 10px;
  margin: 8px auto;
}

.modal-preview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.modal-preview-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 18px;
}

#modal-preview-text {
  text-align: center;
}

#modal-preview-msg-1,
#modal-preview-msg-2 {
  font-family: "cascadia code", sans-serif;
  font-size: 12px;
  color: #57426A;
}

.modal-preview-button-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}


/* MEDIA QUERIES
-------------------------------------------------------------------------- */

/* very small screens under 420px */
@media only screen and (max-width: 420px) {

  h3 {
    font-size: 15px;
  }

  .modal-preview-assistant {
    padding-top: 0px;
  }

  .modal-preview {
    max-width: calc(100vw - 50px);
  }

  img {
    width: calc(94% /4);
  }

  .footer-text {
    font-size: 12px;
  }

}


/* mobile under 600px */
@media only screen and (max-width: 600px) {

  .game-wrapper {
    min-height: calc(100vh - 250px)
  }

}


/* tablet and desktops */
@media only screen and (min-width: 601px) {

  .header-wrapper {
    margin-top: 5%;
  }

  .game-wrapper {
    height: calc(776px - 250px)
  }

}